@model SPFS.Models.RatingsViewModel

@{
    ViewBag.Title = "Uplaoded Ratings";
    var count = Model.RatingRecords != null ? Model.RatingRecords.Count : 0;


}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary()*@
    @Html.HiddenFor(m => m.isUpload)
    @Html.HiddenFor(m => m.SiteID)
    @Html.HiddenFor(m => m.Month)
    @Html.HiddenFor(m => m.Year)
    @Html.HiddenFor(m => m.SiteName)
    @Html.Hidden("noOfRecords", @count)
    <h2>Ratings Page -Upload</h2>
    <hr />
    <div class="row col-md-12" style="padding-top:15px">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.SiteID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Model.SiteName
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Month, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @*@Model.Month*@
                    @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Model.Month)
                </div>
            </div>
            <div class="form-group form-group-tight col-md-6">
                @Html.LabelFor(model => model.Year, new { @class = "control-label col-md-3" })
                <div class="input-group">
                    @Model.Year
                </div>

            </div>

        </div>

    </div>

    <hr />
    @*<div class="alert alert-warning alert-dismissible col-md-12" role="alert" style="padding-top: 1px;">
            <span class="glyphicon  glyphicon-info-sign"></span><strong>Errors!</strong> @Html.ValidationSummary()
        </div>*@

    if (count > 0)
    {

        <div id="output" class="col-md-12">
            @Html.Partial("_SupplierRatings", Model)
        </div>

        <br />

        <div class="row col-md-12">
            <div class="pull-left">
                <button type="button" value="Add New Supplier to Rate" class="btn btn-default btn-md btnAdd add-item ">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Unrated Supplier
                </button>

            </div>
            <div class="pull-right">
                <a href="@Url.Action("Index","Home")" class="btn btn-danger" onclick="return confirm('Are you sure, all data will be lost')">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
                <button type="submit" value="Save" onclick="OnBeginPostBack_Save(this)" name="action:SaveData" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-save"></span> Save

                </button>
                <button type="submit" value="Submit" onclick="OnBeginPostBack_Save(this)" name="action:SubmitData" class="btn btn-primary">
                    <span class="glyphicon glyphicon-send"></span> Submit Ratings

                </button>

            </div>

        </div>
        <div id="popSup" title="Search Supplier" style="overflow: auto;">

        </div>

    }
}
<script type="text/javascript">
    $(document).ready(function () {

        //$('#popSup').dialog({
        //    autoOpen: false,
        //    width: 470,
        //    height: 440,
        //    resizable: false,
        //    title: 'Search Supplier',
        //    modal: true,
        //    open: function (event, ui) {

        //    }
        //});


        var CID = $("#SelectSupplierID option:selected").val();

        //$('#SupplierID').change(function () {
        //    var SupName = $('#SupplierID').val();
        //    SearchSupplierByName(SupName);

        //});

        //Sorting
        $(document).on("click", "#btnFilter", function () {
            debugger
            var SupName = $('#SupplierID').val();
            SearchSupplierByName(SupName);

        });

        function SearchSupplierByName(SupName) {
            $.ajax({
                url: '@Url.Action("GetSupplierbyName", "ExcelUpload")',
                //Passes the content of an input up
                data: { nameString: SupName },
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                async: false,
                cache: true,

                success: function (data) {
                    $('#selectSupplierID').find('option').remove();
                    $.each(data, function (i, optionData) {
                        $('#selectSupplierID').append($('<option></option>').val(optionData.Value).html(optionData.Text));
                    });
                }
            });
        };

        $('.btnAdd').bind("click", function () {

            $.ajax({
                url: '@Url.Action("LoadSuppliers", "ExcelUpload")',
                //Passes the content of an input up
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                cache: false,
                success: function (data) {
                    $('#popSup').children().remove();
                    $('#popSup').html(data);
                }
            });

            $("#popSup").dialog('option', 'title', 'Select Supplier');
            $("#popSup").dialog("open");

        });

        //$('.btnAdd').bind("click", function () {
        //       $('#popSup').css("visibility", "visible");
        //        $("#popSup").dialog('option', 'title', "Select Supplier");
        //        $("#popSup").dialog("open");
        //        $('.btnOK').prop('disabled', true);
        //    });

        //$('.btnAdd').bind("click", function () {
        //   $('#popSup').css("visibility", "visible");
        //    $("#popSup").dialog('option', 'title', "Select Supplier");
        //    $("#popSup").dialog("open");

        //});

        //$('.btnOK').live("click", function ()
        $('#popSup').on("click", ".btnOK", function (e) {
            var selectedText = $("#selectSupplierID").find("option:selected").text();
            var selectedValue = $("#selectSupplierID").val();
            if (selectedValue != null) {
                var tableRow = $("#ratings tr td:nth-child(1)").filter(function () {
                    return $(this).is(":contains('" + selectedValue + "')");
                }).closest("tr");
                if (tableRow.length > 0) {
                    $("#ratings").find('tr').removeClass('active');
                    var oldrec = $("#selectedCid").closest('tr').attr("id", "");
                    $("#popSup").closest('.ui-dialog-content').dialog("close");
                    ShowDialogBox('Warning', 'Supplier exists please check.', 'Ok', '', '', null);
                    var row = tableRow.addClass('active');
                    row.attr("id", "selectedCid");

                    var container = $('tbody');
                    var scrollTo = $('#selectedCid');

                    container.animate({
                        scrollTop: (scrollTo.offset().top - 30) - container.offset().top + container.scrollTop()
                    });
                }
                else {
                    $.ajax({
                        url: '@Url.Action("AddRowReload", "ExcelUpload")',
                        //Passes the content of an input up
                        data: { CID: selectedValue }, //,SiteID:siteId,count:cont
                        contentType: "application/json; charset=utf-8",
                        type: 'GET',
                        cache: false,
                        dataType: 'html',
                        async: false,
                        success: function (data) {
                            var finaltext = selectedText + " Added to list";

                            $("#selectSupplierID").find("option:selected").prop('selected', false);
                            $('#output').children().remove();
                            $('#output').html(data);
                            //  $('.btnOK').prop('disabled', true);
                            $("#popSup").closest('.ui-dialog-content').dialog("close");
                            $('#RatingSuppliers').selectpicker('refresh');
                        },
                        error: function (ts) { alert(ts.responseText) }
                    });
                }
            }
            else {
                ShowDialogBox('Alert', 'Supplier not selected!.', 'Ok', '', '', null);
                //alert("Select Supplier");
            }
        });

        $('#selectSupplierID').change(function () {
            //debugger
            if ($('#selectSupplierID').val() == '') {
                $('.btnOK').prop('disabled', true);
            } else {
                $('.btnOK').prop('disabled', false);
            }

        });
        $('#selectSupplierID').val('').trigger('change');


        $('#RatingSuppliers').change(function () {

            var cid = $("#RatingSuppliers option:selected").val();
            if (cid != "") {
                $("#ratings").find('tr').removeClass('active');
                var oldrec = $("#selectedCid").closest('tr').attr("id", "");
                //oldrec.attr("id", "");
                var tableRow = $("#ratings tr td:nth-child(1)").filter(function () {
                    return $(this).is(":contains('" + cid + "')");
                }).closest("tr");
                var row = tableRow.addClass('active');

                row.attr("id", "selectedCid");
                //$(".active").scrollIntoView();
                var container = $('tbody');
                var scrollTo = $('#selectedCid');


                container.animate({
                    scrollTop: (scrollTo.offset().top - 30) - container.offset().top + container.scrollTop()
                });


                //var rowid = row.attr('id');
                //$("#selectRow" + rowid + "").scrollIntoView();


                //tableRow.addClass('active');
                //var table = $('table');
                ////var row= tableRow.addClass('active');
                // //var w = $(window);
                // var row = $("#ratings").find('tr')
                //           .removeClass('active')
                //           .is(":contains('"+ cid +"')")
                //           .addClass('active');
                //var w = $("#ratings");
                //if (row.length) {
                //    w.scrollTop(row.offset().top - (w.height() / 2));
                //}
            }

        });

        $('#popSup').dialog({
            autoOpen: false,
            width: 600,
            height: 350,
            resizable: false,
            title: 'Select Supplier',
            modal: true,
            open: function (event, ui) {

            }
        });

        $('#container').on("input", ".calcrow", function () {
            var inbound = $(this).closest('tr').find('#Inbound').val();
            var otr = $(this).closest('tr').find('#OTR').val();
            var otd = $(this).closest('tr').find('#OTD').val();
            var pfr = $(this).closest('tr').find('#PFR').val();
            var ri = $(this).closest('tr').find('#RI').val();
            var rp = $(this).closest('tr').find('#RP').val();

            var ppm = Math.round((rp / inbound) * 1000000);

            var ipm = ((ri / inbound) * 1000000).toFixed(2);
            var pct = Math.round((otr / otd) * 100);

            if (isFinite(ppm)) {
                $(this).closest('tr').find('.Ppm').html(ppm);
            } else {
                //$(this).closest('tr').find('.Ppm').html(ppm);
            }
            if (isFinite(ipm)) {
                $(this).closest('tr').find('.Ipm').html(ipm);
            } else {
                //$(this).closest('tr').find('.Ipm').html(ipm);
            }
            if (isFinite(pct)) {
                $(this).closest('tr').find('.Pct').html(pct);
            } else {
                //$(this).closest('tr').find('.Pct').html(pct);
            }


        });
        $('#container').on("change", ".calcrow", function () {
            //debugger
            var inbound = $(this).closest('tr').find('#Inbound').val();
            var otr = $(this).closest('tr').find('#OTR').val();
            var otd = $(this).closest('tr').find('#OTD').val();
            var pfr = $(this).closest('tr').find('#PFR').val();
            var ri = $(this).closest('tr').find('#RI').val();
            var rp = $(this).closest('tr').find('#RP').val();
            var rowid = $(this).closest('tr').first().attr('data-RowId');

            var ppm = Math.round((rp / inbound) * 1000000);
            var ipm = ((ri / inbound) * 1000000).toFixed(2);
            var pct = Math.round((otr / otd) * 100);

            if (isFinite(ppm)) {

            } else {
                ppm = 0;
            }
            if (isFinite(ipm)) {

            } else {
                ipm = 0.00;
            }
            if (isFinite(pct)) {
            } else {
                pct = 0;
            }

            var cid = $('#RatingRecords_' + rowid + '__CID').val();
            //  var
            // var cid = $
            $.ajax({
                url: '@Url.Action("UpdateRating", "ExcelUpload")',
                //Passes the content of an input up
                data: { CID: cid, Inbound: inbound, OTR: otr, OTD: otd, PFR: pfr, RI: ri, RP: rp, PPM: ppm, IPM: ipm, PCT: pct }, //,SiteID:siteId,count:cont
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                cache: false,
                dataType: 'html',
                async: false,
                success: function (data) {

                },
                error: function (ts) { alert(ts.responseText) }
            });
        });


    });
    $(document).ajaxComplete(function () {


        $('#RatingSuppliers').change(function () {

            var cid = $("#RatingSuppliers option:selected").val();
            if (cid != "") {
                $("#ratings").find('tr').removeClass('active');
                var oldrec = $("#selectedCid").closest('tr').attr("id", "");
                //oldrec.attr("id", "");
                var tableRow = $("#ratings tr td:nth-child(1)").filter(function () {
                    return $(this).is(":contains('" + cid + "')");
                }).closest("tr");
                var row = tableRow.addClass('active');

                row.attr("id", "selectedCid");
                //$(".active").scrollIntoView();
                var container = $('tbody');
                var scrollTo = $('#selectedCid');


                container.animate({
                    scrollTop: (scrollTo.offset().top - 30) - container.offset().top + container.scrollTop()
                });


            }

        });
    });
</script>